/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}

.form-container {
  width: 50%;
  padding: 20px;
  background-color: peachpuff;
  border-radius: 5px;
  margin-right: 20px;
  position: relative;
  left: 100px;
}

.form-container:last-child {
  margin-right: 0;
}

.form-container h2 {
  text-align: center;
  position: relative;
  top: 10px;
  margin-bottom: 20px;
}

.form-selection {
  position: relative;
  bottom: 260px;
  right: 350px;
  display: flex;
  /* justify-content: space-between;
  margin-right:0;  */
}
.form-selection input {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}
.form-container input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}

.form-container button {
  width: 80%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
}
